*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.modal{
    width: 400px;
    border: 1px solid red;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.modal button{
    padding: 10px;
}
.active{
    display: flex;
}